page-home {
	.logo {
 	 	width: 80px;
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	h1,h2,h3,h4,h5,h6 {
	  color: #529599;
	}

	p {
		color: rgba(0,0,0,0.6);
		font-weight: 300;
		line-height: 1.4;
	}
}
