@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:100,200,300,400,500,600,700,800');
$green: #609297;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: $green;
  font-family: "Open Sans";
  font-weight: 100;
}
p {
  color: rgba(0,0,0,0.5);
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
  // text-rendering: geometricPrecision;
}

input:not([type="radio"]) {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  border: 1px dashed #bababa;
  width: 80%;
  &:focus {
    outline: 1px solid $green;
    outline: 0;
  }
}

.slide {
  overflow-y: auto;
  overflow-x: hidden;
}

@import 'utils/_ease';
@import 'utils/_font';

@import 'components/_base';
@import 'components/_button';
@import 'components/_counter';
@import 'components/_helper';
@import 'components/_modal';
@import 'components/_progress';
@import 'components/_radio';
@import 'components/_checkbox';
@import 'components/_touch';
@import 'components/_next';
@import 'components/_welcome';
@import 'components/_result';

.visible {
  opacity: 1;
}
